body {
	margin: 0;
	font-family: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #f5f7fa;
}
a:hover {
	color: #005254;
	text-decoration: underline;
}

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
	outline: 0;
}

/** CONTAINER GERAL **/

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

/** BARRA LATERAL **/
.wrapper .sidebar{
    font-family: "Montserrat", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100vh;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.23);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translate3d(0, 0, 0);
    white-space: nowrap;
    visibility: visible;
    background: url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
    color: #FFF;
}

.wrapper .sidebar::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 2;
}

.wrapper .sidebar-content{
    position: relative;
    z-index: 3;
}
.wrapper.nav-collapsed .sidebar {
	width: 60px;
}

.wrapper.nav-collapsed .sidebar:hover {
	width: 250px;
}

.wrapper.nav-collapsed .app-sidebar:hover .menu-title{
	display: inline-block;
}

.wrapper.nav-collapsed .app-sidebar:hover .logo .text {
	display: inline-block;
}

.wrapper.nav-collapsed .sidebar:hover .nav-toggle {
	display: block !important;
}

.wrapper.nav-collapsed .sidebar .menu-title {
	display: none;
}

.wrapper.nav-collapsed .sidebar .logo .text {
	display: none;
}

.wrapper.nav-collapsed .sidebar .nav-toggle {
	display: none !important;
}

.wrapper.nav-collapsed .sidebar .nav-close {
	display: none !important;
}

.wrapper.nav-collapsed .navbar .navbar-header {
	padding-left: 50px;
}


.wrapper .sidebar-header{
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21); 
    position: relative;
    z-index: 3;
}

.wrapper .sidebar .logo {
    position: relative;
    padding: 10px 15px;
    z-index: 4;
}

.wrapper .sidebar .logo .logo-text{
    text-transform: uppercase;
    padding: 5px 0;
    display: block;
}
.wrapper .sidebar .logo-img{
    width: 40px;
    display: inline-block;
    max-height: 40px;
    margin-right: 5px;
}

.wrapper .sidebar .textLogo{
    float: right;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    letter-spacing: 2px;
}
.wrapper .sidebar .textLogo p{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 200;
    display: block;
    margin: 0;
    line-height: 0.3;
}

.wrapper .sidebar .navigation{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar .navigation li{
    position: relative;
    display: block;
}

.wrapper .sidebar .navigation li > a{
    display: block;
    overflow: hidden;
    line-height: 2rem;
    padding: 10px 30px 10px 20px;
    margin: 5px 0;
    background-color: transparent;
    color: #FFF;
    transition: all 300ms linear;
    text-decoration: none;
}

.wrapper .sidebar .navigation li > a:before{
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 5px #FF586B;
    background: rgba(200, 200, 200, 0.2);
    transition: .35s ease left;
}

.wrapper .sidebar .navigation li:hover>a{
	background: rgba(200, 200, 200, 0.2);
}

.wrapper .sidebar .navigation li.active>a:before{
	left: 0;
}
.wrapper .sidebar.hide-sidebar{
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translate3d(-100%, 0, 0);
}

.sidebar .navigation i{
    font-size: 18px;
    float: left;
    margin-right: 10px;
    line-height: 2rem;
    width: 30px;
    text-align: center;
}
/** BARRA TOP **/

.navbar{
    background: #FFF;
    min-height: 70px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.19);
}

.navbar .navbar-header{
    padding-left: 240px;
}

.navbar .navbar-toggle {
    background-color: transparent;
    border: none;
}

@media (max-width: 992px){
    .navbar-header .navbar-toggle {
        margin: 10px 15px 10px 0;
        width: 40px;
        height: 40px;
    }
}